@charset "utf-8";

/* header, footer */
#wrap {
    min-width: 1050px;
    min-height: 100%;
    /* 임시 height 값 */
    margin: 0 auto;
}

#top_event {
    position: relative;
    min-width: 1050px;
    height: 42px;
    background-color: #5f0080;
    /* z-index: 9999; */
}

#top_event .inner_top_event {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

#top_event .inner_top_event .top_event_bnr {
    display: block;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
}

#top_event .inner_top_event .top_event_close {
    background: url(https://res.kurly.com/pc/ico/1908/ico_close_fff_42x42.png);
    position: absolute;
    top: 0;
    right: 0;
}

#top_event .bnr_arr, .top_event_close {
    width: 42px;
    height: 42px;
}

#header {
    position: relative;
}

#header .user_menu {
    position: relative;
    width: 1050px;
    height: 37px;
    top: 0;
    margin: 0 auto;
}

.user_menu .bnr_delivery {
    position: absolute;
    top: 7px;
    left: 17px;
    height: 22px;
}

.user_menu .bnr_delivery .bnr_delivery_img {
    width: 163px;
    height: 22px;
}

.user_menu .sign_menu {
    margin-left: auto;
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
    box-sizing: border-box;
}

.user_menu::after {
    content: '';
    display: block;
    clear: both;
}

.sign_menu {
    width: 192px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.sign_menu .join {
    color: #5f0080;
}

.sign_menu .item {
    display: block;
    line-height: 37px;
    height: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.sign_menu .after {
    position: relative;
}

.sign_menu .after::after {
    position: absolute;
    content: '';
    background-color: rgb(216, 216, 216);
    height: 13px;
    width: 1px;
    top: 13px;
    right: 5px;
}

.sign_menu .link:last-child{
    position: relative;
}

.sign_menu .link .service::before {
    position: absolute;
    top: 17px;
    right: 3px;
    content: '';
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png);
    width: 8px;
    height: 5px;
}

.sign_menu .link:last-child:hover .sub_menu {
    display: block;
}

.sign_menu .link:last-child .sub_menu {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 82px;
    top: 34px;
    right: 0px;
    padding: 8px;
    line-height: 20px;
}


















/* 공통 클래스 */
